
h1 {
	font-size: 4.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 2rem;
}

.center {
	text-align: center;
}

.right {
	float: right
}

.left {
	float: left;
}

.clearfix:after {
	clear: both;
	content: " ";
	display: block;
}

.white-text {
	color: white;
	text-shadow: 0px 1px #999999;
}

.grey-text {
	color: #333333;
}

.med-grey-text {
	color: #595959;
}

.light-grey-text {
	color: #b3b3b3;
}

.red-text {
	color: #ff0000;
	font-size: 13px;
	padding: 40px 0px;
}

.small-padding {
	padding: 25px;
}

.font-raleway {
	font-family: 'Raleway', sans-serif;
}

.font-playfair {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
}

.uppercase {
	text-transform: uppercase;
}

.bold {
	font-weight: bold;
}

.unstyled {
	font-style: normal;
}

/*-----------HEADER--------------------------*/

.header-image {
	height: 6vh;
}

/*-----------END OF HEADER----------------------*/

/*------------BANNER-----------------------------*/

.banner {
	height: 47vh;
	background: linear-gradient(rgba(0,0,0,.3) 100%, transparent), url("assets/images/banner-girl.png") center bottom no-repeat, url("assets/images/flower-bkgd.jpg") no-repeat center;
	background-size: cover, auto 90%, cover;
}

.banner-title {
	position: absolute;
	width: 100%;
	z-index: 3;
	top: 25%;
}

.margin-bottom {
	margin-bottom: 25%;
}

/*---------------END OF BANNER-------------------*/

/*---------------CTA/ABOUT-----------------------*/

.section-format {
	text-align: center;
	/*border-style: solid;*/
    padding: 50px;
}

.section-title {
	font-style: italic;
	font-size: 3rem;
	margin: 70px auto;
}
.section-text {
	font-size: 10px;
	line-height: 1.9;
}

.cta {
	border-bottom: 1px solid #b3b3b3;
}

/*---------------END CTA/ABOUT------------------*/

.product-width {
	width: 100%;
	padding: 3vh 0vh;
}

.item-pic {
	height: 37vh;
}

.small-text {
	font-size: 7px;
}

.price {
	font-size: 9px;
}

/*------------END PRODUCT ROLL----------------*/

.signup {
	background: linear-gradient(rgba(0,0,0,.2) 100%, transparent), url("assets/images/wave-bkgd.jpg") bottom;
	background-size: 290%;
	min-height: 40vh;
	margin-bottom: 20px;
}

.sub-form {
	background: white;
	border-radius: 40px;
	text-align: center;
	width: 90%;
	margin: 45px auto;	
	padding: 5px;
	display: block;
}

.email-form {
	width: 40%;
	border: none;
	background: none;
	padding: 18px 40px;
	font-size: 2rem;
}

.subscribe {
	color: white;
	background: red;
	padding: 15px 40px;
	border-radius: 40px;
	font-size: 2rem;
}

/*-------------END SUBSCRIBE-----------------------*/

.footer {
	background-color: #262626;
	height: 33vh; 
	padding: 60px;
}

.info-text {
	font-size: 30px;
	line-height: 1.5;
}

.contact-text {
	font-size: 30px;
	line-height: 2;
	padding: 15px;
}

.hidden {
	display: none;
}

.icon {
	font-size: 30px;
	text-align: center;
	padding: 10px;
}

a:visited {
	color: white;
}

/*--------------- END FOOTER----------------*/

/*---------------MEDIA QUERIES-----------------*/

@media only screen and (min-device-width: 600px) {
	.section-text {
	font-size: 30px;
	line-height: 1.9;
	}
	.product-roll {
		display: block;
	}
	.top {
		float: left;
		padding: 10px;
	}
	.bottom {
		padding: 10px;
	}
	.product-width {
		/*width: 50%;*/
	}
	.item-pic {
		height: inherit;
	}
	.red-text {
		font-size: 25px;
	}

	.footer-section-left {
		float: left;
	}
	.footer-section-right {
		float: right;
	}
	.icon {
		float: none;	
	}
	.hidden {
		display: inline;
	}
	p.center {
		text-align: left;
	}
	.footer {
		padding:;
	}
} 

/*------------ DESKTOP ------------------------*/

@media only screen and (min-device-width: 1050px) {
	h1 {
	font-size: 2.5rem;
	}

	h2 {
	font-size: 1rem;
	}
	.section-title {
		font-size: 2rem;
		margin: 0px auto 30px auto;
	}
	.section-text {
	font-size: 20px;
	line-height: 1.9;
	}

	.product-roll {
		width: 100%;
	}
/*	.top {
		float: left;
		padding: 10px;
	}*/
	.bottom {
		padding: 10px;
	}
	.product-width {
		width: 25%;
		float: left;
		text-align: center;
	}
	.item-pic {
		height: inherit;
	}
	.red-text {
		font-size: 25px;
	}

	.signup {
		background-size: cover;
		height: 20vh;
	}

	.sub-form {
		width: 60%;
	}
	.email-form {
		font-size: 15px;
		padding: 10px 15px;
	}
	.subscribe {
		font-size: 15px;
		padding: 8px 25px;
	}
	.footer-section-left {
		float: left;
	}
	.footer-section-right {
		float: right;
	}
	.info-text, .contact-text {
		font-size: 20px;
	}
	.contact-text {
		padding: 8px 0px;
	}
	.icon {
		float: none;
		font-size: 20px;
		text-align: left;
		padding: 5px 15px;	
	}
	.hidden {
		display: inline;
	}
	p.center {
		text-align: left;
	}
	.footer {
		padding:;
	}
}

